<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% directors.forEach(director => { %>
      <li>ID: <%= director.id %>, Name: <%= director.name %></li>
      <% }); %>
    </ul>
    <a href="/create">Add new movie</a>
  </body>
</html>
